#custom
tmp*
work_dir/*
data
config_v0/*
backup/*
.vscode
model/*
*.pt
*.caffemodel
cache/
tools/videos
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
